* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e2e8f0;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  min-height: 100vh;
}

/* sidebar style */
.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 3rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  background-color: #1992d4;
  color: #fff;
  font-weight: 500;
}

.sidebar .dashboard-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar .dashboard-logo img {
  height: 3rem;
  filter: invert(1);
}

.sidebar .sidebar-menu ul li,
.sidebar .sidebar-settings ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 10px 0;
}

.sidebar .sidebar-menu ul li img,
.sidebar .sidebar-settings ul li img {
  height: 2rem;
  filter: invert(1);
}

/* header style */
.header {
  display: grid;
  grid-template: auto 1fr / 3fr 1fr;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.header .search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.header .search-bar .search-icon {
  height: 2rem;
}

.header .search-bar .search-input {
  height: 1.5rem;
  border-radius: 10px;
  flex: 1;
  padding: 0 10px;
  background-color: #ededed;
}

.header .profile-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.header .profile-bar .bell-icon {
  height: 1.7rem;
}

.header .profile-bar .profile-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.header .welcome-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-top: 0.5rem;
}

.header .welcome-container .profile-pic-2 {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  grid-row: 1 / 3;
}

.header .welcome-container .text {
  font-weight: bold;
}

.header .welcome-container .text .greetings {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.header .welcome-container .text .main-username {
  font-size: 1.3rem;
}

.header .header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.header .header-button button {
  color: #fff;
  background-color: #1992d4;
  border: none;
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 16px;
}

/* main-content style */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 1rem 2rem;
}

/* main-content projects */
.main-content .projects {
  grid-row: 1 / 3;
}

.main-content .projects .project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem 1rem;
  margin-top: 10px;
}

.main-content .projects .project-container .project-card {
  /* width: 300px; */
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  border-left: 10px solid #f0b429;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content
  .projects
  .project-container
  .project-card
  .card-text
  .title-card-text {
  font-size: 18px;
  font-weight: bold;
}

.main-content .projects .project-container .project-card .card-action {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

/* main-content announcement */
.main-content .announcement .announcement-container {
  background-color: #fff;
  padding: 20px 15px 8px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.main-content
  .announcement
  .announcement-container
  .announcement-card
  .ann-border {
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
  margin-bottom: 16px;
}

.main-content
  .announcement
  .announcement-container
  .announcement-card
  .desc-ann {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 16px;
}
