* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e2e8f0;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

/* sidebar style */
.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 3rem;
  padding: 1rem;
  background-color: #1992d4;
  color: #fff;
}

.sidebar .dashboard-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar .dashboard-logo img {
  height: 3rem;
  filter: invert(1);
}

.sidebar .sidebar-menu ul li,
.sidebar .sidebar-settings ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 10px 0;
}

.sidebar .sidebar-menu ul li img,
.sidebar .sidebar-settings ul li img {
  height: 2rem;
  filter: invert(1);
}

/* header style */
.header {
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  padding: 0.5rem 2rem;
  background-color: #fff;
}

.header .search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.header .search-bar label img {
  height: 2rem;
}

.header .search-bar .search-input {
  height: 1.5rem;
  border-radius: 10px;
  flex: 1;
  padding: 0 10px;
  background-color: #ededed;
}

.header .profile-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.header .profile-bar .bell-icon {
  height: 1.7rem;
}

.header .profile-bar .profile-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

/* main-content style */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-content .projects {
  grid-row: 1 / 3;
}
